services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: interesting_merkle
    ports:
      - "8000:80"
    environment:
      APP_ENV: local
      APP_DEBUG: true
      APP_KEY: base64:+g1nljWsN47KUXdGLDVF5HrMbzmNzZ0Mb5WsQSy07v4=
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: projectmini
      DB_USERNAME: root
      DB_PASSWORD: root
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root     
      MYSQL_DATABASE: projectmini    
    ports:
      - "3307:3306"                  
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: